{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">{% endblock %}

{% block content %}

<div class="row container">
    <div class="page-header col-sm-12">
        <h1>
            {% if review %}
                Edit testimonial
            {% else %}
                Add new testimonial
            {% endif %}
        </h1>
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <label>{{ field.label }}{% if field.field.required %}*{% endif %}</label>{{ field }}<br>
                {% if field.errors %}{% for err in field.errors %}{{ err }}<br>{% endfor %}{% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success reviews-btn">Submit</button>
        </form>
</div>

{% endblock %}

{% block extra_scripts %}{% endblock %}