{% extends "base.html" %}
{% load static %}
{% load reviewtags %}

{% block extra_head %}<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">{% endblock %}

{% block content %}
    <div class="container container-fluid">
    <div class="page-header col-sm-12">
        <h1>
            Testimonials for Review
        </h1>
    </div>
    <div class="col-sm-12"><p>Changed/new data is shown in <span class="review-changed">red</span></p></div>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <div>
                        <div>
                            <a class="btn btn-warning reviews-btn filter-btn {% if showing_previous == 'approved' %}disabled{% endif %}" href="{% url 'reviews:staff_reviews' %}?view=approved">View approved</a>
                            <a class="btn btn-warning reviews-btn filter-btn {% if showing_previous == 'rejected' %}disabled{% endif %}" href="{% url 'reviews:staff_reviews' %}?view=rejected">View rejected</a>
                            <a class="btn btn-warning reviews-btn filter-btn {% if not showing_previous %}disabled{% endif %}" href="{% url 'reviews:staff_reviews' %}">View pending</a>
                        </div>
                        <span class="divider"></span>

                        {{ review_formset.management_form }}
                        {% for review in review_formset %}
                            <span class=hide>{{ review.id }}</span>
                            <h4>Testimonial from {{ review.instance.user.first_name }} {{ review.instance.user.last_name }} ({{ review.instance.user.username }})</h4>
                            <p>Last submission on {% if review.instance.edited_date %}{{ review.instance.edited_date | date:'d M Y' }}{% else %}{{ review.instance.submission_date | date:'d M Y' }}{% endif %}</p>
                            <div class="col-sm-6">
                            <h4>{% if showing_previous == 'approved' %}Previous version{% else %}Last approved version{% endif %}</h4>
                            {% if review.instance.previous_rating %}
                                <label>Author's display name:</label><p>{{ review.instance.previous_user_display_name }}</p>
                                <label>Title:</label><p>{{ review.instance.previous_title }}</p>
                                <label>Rating:</label><p>{% show_rating review.instance.previous_rating %}</p>
                                <label>Testimonial content:</label><p>{{ review.instance.previous_review }}</p>
                            {% else %}
                                <p>N/A</p>
                            {% endif %}
                            </div>
                            <div class="col-sm-6">
                            <h4>{% if showing_previous == 'approved' %}Current approved version{% elif showing_previous == 'rejected' %}Rejected version
                                {% elif review.instance.previous_rating %}New version{% else %}New submission{% endif %}</h4>
                                <label>Author's display name:</label>
                                <p>
                                    <span {% if review.instance.user_display_name != review.instance.previous_user_display_name %}class="review-changed"{% endif %}>{{ review.instance.user_display_name }}</span>
                                </p>
                                <label>Title:</label>
                                    <p>
                                        <span {% if review.instance.title != review.instance.previous_title %}class="review-changed"{% endif %}>{{ review.instance.title }}</span>
                                    </p>
                                <label>Rating:</label>
                                    <p>
                                        <span {% if review.instance.rating != review.instance.previous_rating %}class="review-changed"{% endif %}>{% show_rating review.instance.rating %}</span>
                                    </p>
                                <label>Testimonial content:</label>
                                    <p>
                                        <span {% if review.instance.review != review.instance.previous_review %}class="review-changed"{% endif %}>{{ review.instance.review }}</span>
                                    </p>
                            </div>
                            <div class="col-sm-12 section-end"><label>Approve/Reject: </label><br>{{ review.decision }}</div>
                            <div class="divider"></div>
                        {% endfor %}
                        {% if review_formset.forms %}<div><input class="btn btn-success" name="formset_submitted" type="submit" value="Save" /></div>{% endif %}


                    {% if not review_formset.forms %}
                        <br><br>
                        <div class="col-sm-12">
                            {% if showing_previous == 'rejected' %}
                                No rejected testimonals to display
                            {% elif showing_previous == 'approved' %}
                                No approved testimonals to display
                            {% else %}
                                No testimonials pending review
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>

                </form>
             </div>


        </div>

</div>
{% endblock %}

{% block extra_scripts %}{% endblock %}