.btn.reviews-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    width: 6em;
	line-height: 1;
	font-size: 90%;
	color: #fff !important;
}

.btn.reviews-btn.filter-btn {
	line-height: 1.5;
	width: 9.6em;
}

.review {
	font-size: small;
	font-style: italic;
	padding-bottom: 20px;
}

.review-date {
	font-size: x-small;
}
.review-changed {
	color: red;
}

.review-help {
	font-style: italic;
	font-size: smaller;
	margin-top: -17px;
}

.fa.fa-star, .fa.fa-star-o {
	color: orange;
}

.review-changed > .fa.fa-star, .review-changed > .fa.fa-star-o {
	color: red;
}

div .section-end {
	margin-bottom: 20px;
}

.form-error {
    color: red;
}

.form-error > input, .form-error > textarea, .form-error > .regular-checkbox + label {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.form-error > ul {
    list-style: none;
    font-size: small;
    font-style: italic;
}

/*RADIO BUTTONS*/
form ul.inline {
    margin-left: 0;
    padding: 0;
		list-style: none;
}

form ul.inline li {
    float: left;
    padding-right: 7px;
}