.btn.reviews-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    width: 6em;
	line-height: 1;
	font-size: 90%;
	color: #fff !important;
}

.btn.reviews-btn.filter-btn {
	line-height: 1.5;
	width: 9.6em;
}

.review {
	font-size: small;
	font-style: italic;
	padding-bottom: 20px;
}

.review-date {
	font-size: x-small;
}
.review-changed {
	color: red;
}

.review-help {
	font-style: italic;
	font-size: smaller;
	margin-top: -17px;
}

.fa.fa-star, .fa.fa-star-o {
	color: orange;
}

.review-changed > .fa.fa-star, .review-changed > .fa.fa-star-o {
	color: red;
}

div .section-end {
	margin-bottom: 20px;
}