.thumbnail-container {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    border: 2px solid white;
}


div.thumbnail-container > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
div.thumbnail-container > img.portrait {
  width: 100%;
  height: auto;
}

.gallery-tbl {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    white-space: nowrap;
    font-size: small;
	vertical-align: middle !important;

}

.gallery-help {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.btn-group-vertical > .btn-gallery {
    max-width: 200px;
    white-space: normal;
    font-size: 85%;
    padding: 4px;
    text-align: left;
}

.btn-group-vertical > .btn-gallery > .badge {
    font-weight: normal;
    font-size: 85%;
    padding-top: 1px;
    background-color: rgba(100,100,100, 1);
}

.btn-group-vertical > .btn-gallery.btn-gallery-active {
    background-color: #088A08;
    color: white;
}

.btn-group-vertical > .btn-gallery.btn-gallery-active > .badge {
    background-color: #fff;
    color: #088A08;
    font-weight: bold;
}

.btn-gallery.btn-modal, .btn-gallery.btn-modal {
    background-color: #088A08;
    color: white;
}

.gallery-count {
    margin-left: 5px;
    margin-top: 2px;
}

img.gallery-update-thumbnail {
    height: auto;
    max-width: 120px;
}

.new-inline-label {
    margin-top: 20px;
}

.delete-checkbox {
    display: none;
}
.delete-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.delete-checkbox + label:active, .delete-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.delete-checkbox:checked + label {
    background-color: #F5A9A9;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.delete-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #000;
}
.delete-checkbox-disabled {
    display: none;
}
.delete-checkbox-disabled + label {
    background-color: #BDBDBD;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.gallery-update-group {
    margin-top: 5px;
}

.filestyle {
    margin-left: 13px;
}