{# image_thumbnail.html #}

{% load i18n %}

{% include 'django/forms/widgets/clearable_file_input.html' %}
    <div>
            {% if widget.value.url %}
                <div class="row">
                    <div class="col-xs-2">
                        <label>File name:</label> {{ widget.value.name }}</br>
                        <img src="{{ widget.value.url }}"
                            alt="{{ widget.value }}" class="img-thumbnail gallery-update-thumbnail"/>
                    </div>
                </div>

            {% endif %}

        </div>
