{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">You are now booking for
                    {% if ev_type == 'event' %}
                    <a href="{% url 'flexbookings:event_detail' event.slug %}">{{ event.name }}</a>
                    {% else %}
                    <a href="{% url 'flexbookings:lesson_detail' event.slug %}">{{ event.name }}</a>
                    {% endif %}
                    on {{ event.date | date:"D d F, g:i a" }}</h2>
            </div>
            <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">

                        {% if not event.can_cancel %}
                            <p class="cancel-warning">Please note that the cancellation period for this {{ ev_type }} has passed.</p>
                            {% if event.cost %}
                                If you continue with the booking, you will not have the option to cancel it yourself.
                                {% if not event.advance_payment_required%}
                                    <p class="cancel-warning">Your payment will still be due even if you do not attend the {{ ev_type }}.</p>
                                {% else %}
                                    <p class="cancel-warning">If payment has not been received within approximately
                                        4 hours of booking, your booking will be automatically cancelled.</p>
                                {% endif %}
                            {% endif %}
                            <span class="divider"></span>
                        {% else %}
                            <p>Cancellation is only allowed up to {{ event.cancellation_period | format_cancellation }}
                            before the {{ ev_type }} date.  {% if event.advance_payment_required %}If payment has not been
                            received by the cancellation period, your booking will be automatically cancelled. {% endif %}</p>
                            <span class="divider"></span>
                        {% endif %}


                        <span class="hide">{{ form.event }}</span>
                        <span class="hide">{{ form.user }}</span>
                        {% if open_blocks %}
                            <h4>Single class booking</h4>
                            {% if individual_booking_allowed %}
                                <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book single class" />
                            {% else %}
                                <p>Single class booking is not yet available for this {{ ev_type }}.  Single class booking opens on {{ date_individual_booking_allowed|date:"D d F Y" }}.</p>
                            {% endif %}
                                <span class="divider"></span>

                            <h4>Block booking</h4>
                            {% for block_obj in open_blocks %}

                                <h5>{{ block_obj.name }}</h5>
                                <p>Total block cost: £{{ block_obj|block_cost }} (per class cost £{{ block_obj.item_cost }})</p>

                                <p>Booking this block will book you in to the following classes:</p>

                                <ul>
                                {% for block_event in block_obj.events.all %}
                                    <li>{% if block_event == event %}<strong>{{ block_event }}</strong>{% else %}{{ block_event }}{% endif %}</li>
                                {% endfor %}
                                </ul>
                                {% if block_obj in available_blocks %}
                                    <button class="btn btn-success update-btn"
                                            type="submit" name="book_block" value={{ block_obj.id }}>Book block
                                    </button>
                                {% else %}
                                    <p><strong>Booking is unavailable because
                                    {% for unavailable_block in unavailable_reasons %}
                                        {% if unavailable_block.block == block_obj %}
                                            {{ unavailable_block.reason|lower }}
                                        {% endif %}
                                    {% endfor %}
                                    </strong></p>
                                    <button class="btn btn-success update-btn" disabled
                                                type="submit" name="book_block" value={{ block_obj.id }}>Book block
                                    </button>
                                {% endif %}
                                <span class="divider"></span>
                            {% endfor %}

                        {% else %}
                            <input class="btn btn-success update-btn" type="submit" name="book_one_off" value="Book" />
                        {% endif %}
                        </br>
                    </div>
                </form>
            </div>
       </div>

</div>
</div>


{% endblock %}