{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Cancel Booking</h2>
            </div>
       <div class="panel-body">
                <h3>You are about to cancel your booking for {% if event.event_type.event_type == 'EV' %}<a href="{% url 'flexbookings:event_detail' event.slug %}">
                    {% elif event.event_type.event_type == 'CL' %}<a href="{% url 'flexbookings:lesson_detail' event.slug %}">{% endif %}
                    {{ event.name }}</a> on {{ event.date | date:"D d F, g:i a" }}</h3>
                <h4>Are you sure?</h4>
                <p>Please note that any payments already made will not be automatically
                refunded.</p>
                <p>For further information, please contact {{ event.contact_person }}
                at <a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a></p>

            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-danger" type="submit" name="cancel" value="Cancel this {% if event.event_type.event_type == 'EV' %}workshop{% else %}class{% endif %}" />
                {% if has_block %}
                    <input class="btn btn-danger" type="submit" name="cancel_block" value="Cancel block **" />
                {% endif %}
                <a href="{% url 'flexbookings:bookings' %}"><div class="btn btn-warning">Back</div></a>
                {% if has_block %}
                    <p class="studioadmin-help">** This will cancel all remaining classes in the block.  Please note that refunds are not
                    given for individual class cancellations from block bookings.</p>
                {% endif %}
            </form>
            </br>
        </div>
        </div>
     </div>

</div>

{% endblock content %}