{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                        {{ event.name }}
                </h3>
            </div>
            <div class="panel-body">
                {% if past %}
                <h3>This class/workshop is now past.</h3>
                {% endif %}
                <ul class="list-group">
                    {% if event.description %}
                        <li class="list-group-item"><p><strong>Description</strong></p>
                        <p>{{ event.description | safe }}</p>
                        </li>
                    {% endif %}
                    <li class="list-group-item"><strong>Location:</strong>  {{ event.location }}</li>
                    <li class="list-group-item"><strong>Date and time:</strong> {{ event.date |  date:"D d F, g:i a" }}</li>
                    {% if not past %}
                     <li class="list-group-item"><strong>Contact:</strong> {{ event.contact_person }}
                          (<a href="mailto:{{ event.contact_email }}?Subject=Enquiry regarding booking for {{ event.name }}" target="_blank">{{ event.contact_email }}</a>)</li>
                    <li class="list-group-item"><p><strong>Payment information</strong></p>
                        <p>{% if not event.advance_payment_required and event.cost and event.event_type.subtype != "External instructor class" %}Advance payment is not required for this
                        {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}.{% endif %}</p>

                        <p>Cost: £ {{ event.cost }}</p>

                        <p>{{ payment_text | safe }}</p>

                        {% if event.payment_due_date %}
                            <p>Payment is due by {{ event.payment_due_date |  date:"D d F Y" }}</p>
                        {% endif %}</li>
                    {% if event.blocks %}
                        <li class="list-group-item"><p><strong>Block information</strong></p>
                                <ul>
                                    {% for block in event.blocks.all %}
                                        <li>{{ block.name }} - total cost £{{ block|block_cost }}</li>
                                        <ul>
                                            {% for block_event in block.events.all %}
                                                <li>{% if block_event == event %}<strong>{{ block_event }}</strong>{% else %}{{ block_event }}{% endif %}</li>
                                            {% endfor %}
                                        </ul>

                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% if not booked %}
                            <li class="list-group-item"><p><strong>Block availability</strong></p>
                                {% if available_blocks %}
                                    <p>This class can be booked as part of a block.  Click the Book button below for booking options.</p>
                                {% else %}
                                    <p>Block booking is not available for the following reasons:</p>
                                    <ul>
                                    {% for block in unavailable_reasons %}
                                        <li><strong>{{ block.block }}:</strong> {{ block.reason }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}

                    {% if event.cancellation_period %}
                        <li class="list-group-item"><strong>Cancellation information</strong>
                            <p>Cancellation is allowed up to {{ event.cancellation_period | format_cancellation }} prior to the
                            {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}</p></li>
                    {% endif %}
                    <li class="list-group-item">
                    {% if event.max_participants %}

                        <h5>There are a maximum {{ event.max_participants }} spaces for this
                            {% if type == "event" %}event{% elif type == "lesson" %}class{% endif %}.</h5>
                    {% endif %}
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="list-group-item">
                          {% if booked %}
                            <h5>{{ booking_info_text }}</h5>
                            <h5>See <a href="{% url 'flexbookings:bookings' %}">your bookings</a> for details{% if event.cost %}, to
                             confirm payment and to check if your place has been confirmed{% endif %}.</h5>
                        {% else %}
                            <h5>{{ booking_info_text_cancelled }}</br>{{ booking_info_text | safe }}</h5>
                                {% if bookable %}
                                        <a href="{% url 'flexbookings:book_event' event.slug %}">
                                            <div id='book_button' class="btn btn-success table-btn">
                                            {% if cancelled %}Rebook{% else %}Book{% endif %}</div></a>
                                {% else %}
                                    {% if not waiting_list %}
                                        <form action="{% url 'flexbookings:book_event' event.slug %}" method="get">
                                            <input id='join_waiting_list_button' class="btn btn-success table-btn" type="submit" value="Join waiting list" name="join waiting list"/>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'flexbookings:book_event' event.slug %}" method="get">
                                            <input id='leave_waiting_list_button' class="btn btn-warning table-btn" type="submit" value="Leave waiting list" name="leave waiting list"/>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}


                    {% else %}
                        <a href="{% url 'account_login' %}?next={{request.get_full_path}}">
                                        <div id='sign_in_button' class="btn btn-success table-btn">
                                        Sign in to book</div></a>
                        </li>
                    {% endif %}

                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
