{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid row">

        <h1>{% if type == 'events' %}Workshops{% elif type == 'lessons' %}Classes{% endif %}</h1>
        {% if events %}
        <div class="row">
            <div class="col-sm-12">
                <p>Click on {% if type == 'events' %}workshop{% elif type == 'lessons' %}class{% endif %} name for more details</br>
                Click on book button for single and/or block booking options</p>
                {% if not user.is_authenticated %}
                    <p><a class="btn btn-success table-btn" href="{% url 'account_login' %}?next={{request.get_full_path}}">
                        Sign in</a> to book</p>
                {% endif %}
                <form class="filter-row" action="" method="get">
                    <strong>Filter by: {{ form.name }}</strong>
                </form>
                <div class="panel panel-success">

                    <div class="table-responsive">
                        <table class="table">
                            <tr class="success">
                                {% if user.is_authenticated %}
                                    <th class="table-center">Booked</th>
                                {% endif %}
                                <th>Date</th>
                                <th>{% if type == 'events' %}Workshop{% elif type == 'lessons' %}Class{% endif %}</th>
                                <th>Location</th>
                                <th class="hidden-sm hidden-xs table-center">Drop-in Cost</th>
                                <th class="hidden-xs table-center">Spaces left</th>
                                <th class="table-center">Block(s) available</th>
                            </tr>

                            {% for event in events %}
                                <tr {% if event.bookable %}class="active_block"{% else %}class="inactive_block"{% endif %}>
                                {% if user.is_authenticated %}
                                    <td class="table-center">
                                        {% if event in booked_events %}
                                            <span class="fa fa-check"></span>
                                        {% elif event not in booked_events %}
                                            {% if event.bookable %}
                                                <a href="{% url 'flexbookings:book_event' event.slug %}"><div id="book_button" class="btn btn-success table-btn">Book</div></a></br>
                                            {% else %}

                                                {% if event in waiting_list_events %}
                                                    <form class="wl-table-form" action="{% url 'flexbookings:book_event' event.slug %}" method="get">
                                                        <input class="btn btn-warning table-btn" id="leave_waiting_list_button" type="submit" value="Leave waiting list" name="leave waiting list"/>
                                                    </form>
                                                {% else %}
                                                    <form class="wl-table-form" action="{% url 'flexbookings:book_event' event.slug %}" method="get">
                                                        <input class="btn btn-success table-btn" id="join_waiting_list_button" type="submit" value="Join waiting list" name="join waiting list"/>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                            </td>
                                    {% endif %}
                                    <td>{{ event.date | date:"D d M H:i" }}</td>
                                    <td>{% if type == 'events' %}
                                        <a href="{% url 'flexbookings:event_detail' event.slug %}">{{ event.name }}</a>
                                        {% elif type == 'lessons' %}
                                        <a href="{% url 'flexbookings:lesson_detail' event.slug %}">{{ event.name }}</a>
                                        {% endif %}</td>
                                    <td>{{ event.location }}</td>
                                    <td class="hidden-sm hidden-xs table-center">£{{ event.cost }}</td>
                                    <td class="hidden-xs table-center">
                                        {% if event.max_participants %}{{ event.spaces_left }}
                                        {% else %}N/A{% endif %}</td>
                                    <td class="table-center">{% for block in event.blocks.all %}<div>{% if block.booking_open %}{{ block.name }}{% endif %}</div>{% endfor %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>



                </div>
            </div>
         </div>
        {% else %}
            <p>There are currently no {% if type == 'events' %}workshops{% elif type == 'lessons' %}classes{% endif %} available to book.</p>
        {% endif %}

    </div>



{% endblock content %}
