{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="container-fluid row">
        <h1>Your pending payments</h1>

    {% if unpaid_blocks or unpaid_bookings %}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    {% if unpaid_blocks or unpaid_bookings %}
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr class="success">
                                    <th></th>
                                    <th>Block/Class/Workshop Name</th>
                                    <th>Cost</th>
                                </tr>
                                {% for blockform in unpaid_blocks %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'flexbookings:update_block' blockform.block.pk %}">
                                                 <div type="button" id="payment_options_button" class="btn btn-success table-btn booking-btn">Confirm payment</div>
                                             </a>
                                            {% include 'payments/blocklistpayment.html' %}
                                        </td>
                                        <td>{{ blockform.block.name }}</td>
                                        <td>£ {{ blockform.block|block_cost }}</td>
                                    </tr>
                                {% endfor %}
                                {% for bookingform in unpaid_bookings %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'flexbookings:update_booking' bookingform.booking.pk %}">
                                                 <div type="button" id="payment_options_button" class="btn btn-success table-btn booking-btn">Confirm payment</div>
                                             </a>
                                            {% include 'payments/bookinglistpayment.html' %}
                                        </td>
                                        <td>{{ bookingform.booking.event }}</td>
                                        <td>£ {{ bookingform.booking.cost }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% else %}
    You have no pending payments
    {% endif %}
</div>

{% endblock content %}
