{% extends "base.html" %}
{% load static %}
{% load bookingtags %}

{% block content %}

<div class="container-fluid row">
        <h1>Your pending payments</h1>

    {% if unpaid_blocks or unpaid_bookings %}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                    {% if unpaid_blocks %}
{#                    <div class="panel-heading"><h4>Blocks</h4></div>#}
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr class="success">
                                    <th>Block/Class/Workshop Name</th>
                                    <th>Cost</th>
                                </tr>
                                {% for block in unpaid_blocks %}
                                    <tr>
                                        <td>{{ block.name }}</td>
                                        <td>£ {{ block|block_cost }}</td>
                                    </tr>
                                {% endfor %}
                                {% for booking in unpaid_bookings %}
                                    <tr>
                                        <td>{{ booking.event }}</td>
                                        <td>£ {{ booking.cost }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% else %}
    You have no pending payments
    {% endif %}
</div>

{% endblock content %}
