{% extends "base.html" %}
{% load static %}
{% load timetabletags %}

{% block content %}

    <section id="timetable_page" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h1>Timetable - {{ event_title }}s</h1>
           </div>

        <ul class="classes-filter text-center">
                <li><a class="btn btn-fb-success-minor" href="{% url 'timetable:timetable' %}">Regular Classes</a></li>
                <li><a class="btn {% if event_type == 'clinic' %}btn-fb-success{% else %}btn btn-fb-success-minor{% endif %}" href="{% url 'timetable:timetable_clinics' %}">Stretch Clinics</a></li>
                <li><a class="btn {% if event_type == 'workshop' %}btn-fb-success{% else %}btn btn-fb-success-minor{% endif %}" href="{% url 'timetable:timetable_workshops' %}">Workshops</a></li>
            </ul>

             {% include 'timetable/includes/event_data.html' %}
        </div>

    </section>


{% endblock content %}

{% block extra_scripts %}
    {% if is_debug_on %}
       <script type='text/javascript' src="{% static 'timetable/js/underscore.js' %}"></script>
    {% else %}
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   {% endif %}
    <script src="{% static 'timetable/js/location_modal.js' %}"></script>
{% endblock %}