{% extends 'base.html' %}

{% load staticfiles %}


    {% block content %}

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h1>About Alicia</h1>
            </div>
            <div>
				<p class="lead">Alicia has always been very interested in the mind/body link. This led
					her to studies in both fields, holding qualifications in fitness and
					psychology. This makes her
                    approach unique as takes what she has learned and applies it to her teaching. Alicia
                    started working as a fitness instructor; seeing the impact that exercise had on mental
                    health she did her first degree in Health Psychology. Alicia had always been
                    interested in Yoga but never found something that worked for her so when a centre
                    she taught in her asked her to train in and then teach it, she took the plunge and
                    hasn’t looked back since. That was 15 years ago!!! Since then she has gained 2
                    further post graduate degrees in psychology. In April 2015, FlexiBeast was born –
                    bringing Alicia’s own twist to all things Flexi. Not one to sit on her laurels, she is
                    constantly studying and developing new techniques. She learns from the best in the
                    world to enhance her own training and therefore her teaching.</p>
			</div>

			<!-- about us slider -->
{#			<div id="about-slider">#}
{#				<div id="carousel-slider" class="carousel slide" data-ride="carousel">#}
{#					<!-- Indicators -->#}
{#				  	<ol class="carousel-indicators visible-xs">#}
{#					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>#}
{#					    <li data-target="#carousel-slider" data-slide-to="1"></li>#}
{#					    <li data-target="#carousel-slider" data-slide-to="2"></li>#}
{#				  	</ol>#}
{##}
{#					<div class="carousel-inner">#}
{#						<div class="item active">#}
{#							<img src="{% static 'website/images/slider_1.jpg' %}" class="img-responsive" alt="">#}
{#					   </div>#}
{#					   <div class="item">#}
{#							<img src="{% static 'website/images/slider_1.jpg' %}" class="img-responsive" alt="">#}
{#					   </div> #}
{#					   <div class="item">#}
{#							<img src="{% static 'website/images/slider_1.jpg' %}" class="img-responsive" alt="">#}
{#					   </div> #}
{#					</div>#}
{#					#}
{#					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">#}
{#						<i class="fa fa-angle-left"></i> #}
{#					</a>#}
{#					#}
{#					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">#}
{#						<i class="fa fa-angle-right"></i> #}
{#					</a>#}
{#				</div> <!--/#carousel-slider-->#}
{#			</div><!--/#about-slider-->#}
			

			<!-- Our Skill -->
			<div class="clearfix">

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img src="{% static 'website/images/box.jpg' %}" class="img-responsive" alt="">
                    </div>

                    <div class="col-xs-12 col-sm-6">
                    <p class="lead">Alicia's qualifications:'</p>
                    <ul>
                        <li>Health Psychology BSc <i>(Hons)</i></li>
                        <li>Health Psychology MSc <i>(with Distinction)</i></li>
                        <li>Applied Psychology <i>(Childcare and Health)</i></li>
						<li>Health/Fitness Yoga Diploma</li>
                        <li>Pilates Trainer <i>(Professional Level 3)</i></li>
						<li>O.A. Dip <i>(Pilates Professional Trainer)</i></li>
                        <li>Diet and Nutrition Advisor <i>(Diploma)</i></li>
                    </ul>

                    <p class="lead">Affliliations:</p>
                    <ul>
						<li>International Alliance of Holistic Therapists</li>
                        <li>International Association of Neuro Linguistic Programming and Coaching</li>
                    </ul>
                    </div>
				</div>
			</div>
				
		</div><!--/.container-->
    </section><!--/about-us-->
	
{% endblock content %}