{% load static %}

<div class="container col-sm-10 col-sm-offset-1">
<div class="fading">
    <img src="{% static 'website/images/split_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/pancake_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/bridge_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/standing_split_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/elbowstand_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/violator_edited.png' %}" alt="fade in image" />
    <img src="{% static 'website/images/crossbridge_edited.png' %}" alt="fade in image" />

</div>
</div>