{% extends 'base.html' %}

{% load static %}

    {% block content %}

    <section id="classes" class="transparent-bg banner-section">
        <div class="container">

           <div class="center wow fadeInDown banner-header">
                <div class="row">
                    <h1>Group Classes</h1>
                    <p class="lead">
                        Classes are deliberately small with a maximum of 9 participants so students get maximum
                        space space and attention.
                    </p>
                </div>
            </div>

            <div class="center row">
                <div class="col-xs-8 col-xs-offset-2">
                    <img class="main-img" src="{% static 'website/images/group.jpg' %}" />
                </div>
            </div>

            <ul class="classes-filter text-center">
                <li><a class="btn btn-fb-success-minor" href="#yoga">Yoga</a></li>
                <li><a class="btn btn-fb-success-minor" href="#splits">SensibleSplits</a></li>
                <li><a class="btn btn-fb-success-minor" href="#backs">HealthyBendyBacks</a></li>
                <li><a class="btn btn-fb-success-minor" href="#fleximinx">FlexiMinx</a></li>
            </ul><!--/#portfolio-filter-->

        <div class="row">
            <h1>The Flexibeast Approach</h1>
            <p>
                Alicia combines Yoga with modern techniques such as PNF and partner work plus the
                occasional prop in her own unique form of flexibility training. For safety and maximum
                effectiveness, this approach aims to increase range of movement around joints while
                strengthening and stabilising. All FlexiBeast classes address both strength and stretch. This
                approach is a key tool in injury prevention across all disciplines. Classes provide a whole-
                body workout and will run in themes to enable concentrated goal focus. Everybody works at
                their own pace in a relaxed and supportive environment.
            </p>
            <p>
                Classes are an hour and run in monthly blocks; mats are provided but feel free to
                bring your own. Wear something comfy <i>(layers are good)</i>. Bring water because you
                will sweat. Booking is essential for all classes.
            </p>
            <p>Are you ready to feel the awesome?</p>
        </div>

    </div><!--/.container-->

    </section><!--/#feature-->

        <section id="yoga" class="transparent-bg banner-section"><!--/#splits-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Yoga</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <h2>Vinyasa Flow</h2>
                    <p>
                        A physical and strong form of Yoga combining the flow of Ashtanga with the static
                        poses of Iyengar. These classes aim to build strength and flexibility as well as
                        promote alignment and improved posture. Classes are mixed ability and everybody
                        works to their own level with modifications offered to suit individual need.
                    </p>
                    <h2>Restorative</h2>
                    <p>
                        A more gentle form of Yoga combining flowing and static movements. These sessions
                        are designed to promote wellness and balance in body and mind, bringing you back to
                        your centre.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>

        </div>
    </section><!--/#feature-->

        <section id="splits" class="transparent-bg banner-section"><!--/#splits-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>SensibleSplits</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        These classes have a leg/hip focus to help with working towards a front or middle
                        split or simply because you just want stronger bendier legs and a glorious Yogabutt!
                        They are appropriate for you if you can’t touch your toes or if you are working on an
                        over split! We work to prepare the muscles you need to open up for a lovely split so
                        that you develop a consistent and safe practice with splits which are also strong.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>

        </div>
    </section><!--/#feature-->

    <section id="backs" class="banner-section"><!--/#backs-->
         <div class="container">
             <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>HealthyBendyBacks</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>
                <p class="lead">
                    The spine needs to be treated with respect. In this class you learn how to stabilise
                    and strengthen the spine by effectively using all of the back muscles with full
                    involvement of the core. We also utilise the spine through its full range of movement
                    and therefore increase its range. This class will involve the pelvis, glutes and
                    shoulders too. We draw on some techniques from Pilates to address deep level
                    abdominals. In more advanced classes we move into partner work as appropriate.
                    This class is great for improving posture and is particularly useful if you have lower
                    back pain.
                </p>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#feature-->

            <section id="fleximinx" class="banner-section"><!--/#fleximinx-->
         <div class="container">
             <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>FlexiMinx</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>
                <p class="lead">
                    We are happy to welcome the newest member of the FlexiBeast family. It is a
                    women only class. Being a woman is a beautiful and powerful thing. In a safe and
                    supportive space, FlexiMinx allows you to work your body while allowing your inner
                    minx out to play. We will warm up the body then use active flexibility techniques and
                    put them together in a flow. We do this in heels <i>(if you don’t have heels, we have
                    spares!)</i>. It’s an amazing, body shaping empowering class! You’ll leave feeling you
                    can take on the world.
                </p>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#feature-->

{% endblock %}