{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
    <div class="container">

		<div class="center">
               <h1>Contact</h1>
            </div>
            <p class="lead">For enquiries about classes, workshops, private
                    bookings, or any other questions, please use the contact form below:</p>

        <div class="row">

                <div class="panel panel-booking">
                    {% include 'website/contact_form_detail.html' %}
                </div>


            <h4>Email</h4>
                <p>You can also email directly to <a href="mailto:flexibeast@hotmail.com" target="_blank">
				flexibeast@hotmail.com</a>.</p>
        </div>
    </div>
    </section>

{% endblock content %}
