{% extends "base.html" %}

{% load static %}

{% block extra_head %}
        <link href="{% static 'website/css/generated_pages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="generated-page container container-fluid">

        {% if include_html %}{% include include_html %}{% endif %}

        <h1 class="center wow fadeInDown">{{ page.heading }}</h1>

        {% if page.pictures.count > 0 and page.layout != 'no-img' %}
            {% for picture in page.pictures.all %}
                {% if picture.main %}
                   <img class="{% if page.layout == '1-img-left' %}page-img-side-left{% else %}page-img-side-right{% endif %}" src="{{ MEDIA_URL }}{{ picture.image.name }}" alt="{{ page.name }} photo">
                {% endif %}
            {% endfor %}
        {% endif %}

        {% include 'website/page_content.html' %}



</div>  <!-- container-fluid -->

{% endblock content %}
