{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid">

    <div class="container-fluid extra-top-margin">
        {% if include_html %}{% include include_html %}{% endif %}

        <div class="row">

            {% if page.layout == 'img-col-left' %}
                <div class="col-sm-2 col-xs-2 page-img-col-container">
                    {% for picture in page.pictures.all %}
                        <img class="img-responsive page-img-col" src="{{ MEDIA_URL }}{{ picture.image.name }}" alt="{{ page.name }} photo">
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-sm-9 col-xs-10 {% if page.layout == 'img-col-right' %} col-sm-offset-1{% endif %}">
                <h1>{{ page.heading }}</h1>
                {% include 'website/page_content.html' %}
            </div>

            {% if page.layout == 'img-col-right' %}
                <div class="col-sm-2 col-xs-2 page-img-col-container">
                    {% for picture in page.pictures.all %}
                        <img class="img-responsive page-img-col" src="{{ MEDIA_URL }}{{ picture.image.name }}" alt="{{ page.name }} photo">
                    {% endfor %}
                </div>
            {% endif %}

        </div>
	</div>



</div>  <!-- container-fluid -->

{% endblock content %}
