{% extends "base.html" %}

{% load static %}

{% block extra_head %}
        <link href="{% static 'website/css/generated_pages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="generated-page container container-fluid">

{% if user.is_staff %}
    {% if not page.active or page.restricted %}
        <div class="divider"></div>
            <h4>NOTES FOR STAFF USERS (these messages are not displayed to non-staff users):</h4>
            <ul>
            {% if not page.active %}<li>THIS PAGE IS NOT LIVE AND IS NOT VISIBLE TO NON-STAFF USERS.  IF APPLICABLE, MENU LINKS WILL NOT APPEAR UNTIL PAGE IS ACTIVATED.</li>{% endif %}
            {% if page.restricted %}<li>THIS IS A RESTRICTED PAGE.  PAGE IS ONLY VISIBLE TO USERS WITH PERMISSION.</li>{% endif %}
            </ul>
        <div class="divider"></div>
    {% endif %}
{% endif %}


        {% if include_html %}<div class="row">{% include include_html %}</div>{% endif %}


            {% if page.pictures.count > 0 and page.layout != 'no-img' %}
                <h1 class="center wow fadeInDown">{{ page.heading }}</h1>
                {% for picture in page.pictures.all %}
                    {% if picture.main %}
                        <div class="page-img-single-container">
                            <img class="img-responsive page-img-single" src="{{ MEDIA_URL }}{{ picture.image.name }}" alt="{{ page.name }} photo">
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1 class="center wow fadeInDown">{{ page.heading }}</h1>
            {% endif %}

            {% include 'website/page_content.html' %}




</div>  <!-- container-fluid -->

{% endblock content %}
