{% extends 'base.html' %}

{% load staticfiles %}

    {% block content %}

    <section id="private" class="transparent-bg banner-section">
        <div class="container">
           <div class="center wow fadeInDown banner-header">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-2 banner-img-col banner-img-col-header">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-8">
                            <h1>Private Instruction</h1>
                            <p class="lead">
                                Alicia offers 1-1 sessions for clients. The purpose and structure
                                of these sessions will vary according to client need. They can be
                                used as a means of identifying and setting goals or addressing
                                specific difficulties. The precise structure of each session
                                will vary from client to client but the following is a rough outline of what can be offered.
                            </p>
                        </div>
                        <div class="col-xs-2 col-sm-2 banner-img-col banner-img-col-header">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <ul class="classes-filter text-center">
                <li><a class="btn btn-fb-success-minor" href="#yoga">Yoga</a></li>
                <li><a class="btn btn-fb-success-minor" href="#flexibility">Flexibility</a></li>
                <li><a class="btn btn-fb-success-minor" href="#fitness">Fitness</a></li>
                <li><a class="btn btn-fb-success-minor" href="#restorative">Restorative</a></li>
                <li><a class="btn btn-fb-success-minor" href="#diet">Diet</a></li>
                <li><a class="btn btn-fb-success-minor" href="#stress">Stress Management</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="center row">
                <div class="col-xs-12">
                    <img class="main-img" src="{% static 'website/images/group.jpg' %}" />
                </div>
            </div>

        </div><!--/.row-->
    </section><!--/#feature-->

        <section id="yoga" class="transparent-bg banner-section"><!--/#yoga-->
         <div class="container">

            <div class="center wow fadeInDown banner-subheader">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Yoga</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        Individual Yoga sessions can vary from gentle flowing practice to
                        intensive physical practice dependent on need. A private lesson is
                        an opportunity to explore asanas and vinyasas in more depth to benefit
                        general practice. The goal for the session will be agreed prior to the start.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#yoga-->

    <section id="flexibility" class="transparent-bg banner-section"><!--/#yoga-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Flexibility</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        This is a major goal area for lots of people training aerial and
                        pole. Whether you want to work on splits or backs or a flexibility routine
                        to work towards a specific move, these sessions are so helpful in figuring
                        out where your area of tightness or weakness may lie. The sessions will be
                        a mixture of strength and flexibility work and may include using props.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#flexibility-->

    <section id="fitness" class="transparent-bg banner-section"><!--/#fitness-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Fitness</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        These sessions will focus more on strength but can also include programming
                        for increasing endurance. For many, increasing core and upper body
                        strength is a key goal but again sessions are tailored to meet need.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#fitness-->

    <section id="restorative" class="transparent-bg banner-section"><!--/#restorative-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Restorative</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        Addressing imbalances and niggles in the body. These sessions
                        use a mixture of Pilates and Yoga to promote alignment and correct
                        body function. These sessions can be done in conjunction with Gwen
                        Dolan and Leith Treatments. In the even that you are recovering from a
                        specific injury, medical clearance will be required to participate
                        in these sessions.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#restorative-->

     <section id="diet" class="transparent-bg banner-section"><!--/#diet-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Diet</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        Diet is an essential component of a healthy body and mind. Alicia will
                        work with you on maximising your nutritional intake. She will also work
                        on your relationship with food and helping you to listen to and
                        understand your body and its needs.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#diet-->

    <section id="stress" class="transparent-bg banner-section"><!--/#stress-->
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Stress Management</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        Modern living can take its toll with demands getting higher all
                        the time. Sessions are designed to look at coping mechanisms
                        and practical strategies for dealing with day to day stressors.
                    </p>
                </div>
                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
           </div>
        </div>
    </section><!--/#stress-->

{% endblock %}