{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
<div class="container">

    <h2>Data Protection and Privacy Policy</h2>

    <p>The information you supply will be used for administrative
        purposes only.</p>

    <p>We will not supply any information to third parties.</p>

     <p>You may request to see, update or delete any information we hold about you.</p>

     <p>For further information, please contact flexibeast@hotmail.com</p>

</div>
</section>
    
{% endblock content %}