{% extends 'base.html' %}

{% load staticfiles %}

    {% block content %}

    <section id="workshops" class="transparent-bg banner-section">
        <div class="container">
            <div class="center wow fadeInDown banner-header">
                <div class="row">
                    <h1>Retreats</h1>
                    <p class="lead">
                        Unwind and make your body and mind feel awesome.
                    </p>
                </div> <!--/.row-->
            </div> <!--/.banner-header-->

            <div class="center row">
                <div class="col-xs-12">
                    <div class="col-xs-6"><img class="img-responsive main-img" src="{% static 'website/images/retreat.jpg' %}" /></div>
                    <div class="col-xs-6"><img class="img-responsive main-img" src="{% static 'website/images/retreat1.jpg' %}" /></div>
                </div>
            </div>

                <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <h3>What is a retreat? </h3>

                    <p>
                        It's a time and space to relax, unwind and make your body and mind feel awesome.
                        Retreats are usually over a weekend but can be extended to a week.
                        Maximum of 6 people in a beautiful rural location.

                    </p>
                    <p>
                        There will be a combination of workshops which address flexibility, stability and strength.
                        We will also take time to look at nutrition, self improvement and personal fulfillment.
                    </p>
                    <p>
                        The retreat can be partially or fully catered.
                    </p>
                    <p>
                        To book, simply email <a href="mailto:flexibeast@hotmail.com" target="_blank">flexibeast@hotmail.com</a>.
                    </p>
                </div>
            </div>


        </div><!--/.container-->



{% endblock %}


