{% extends 'base.html' %}

{% load staticfiles %}

    {% block content %}

    <section id="workshops" class="transparent-bg banner-section">
        <div class="container">
            <div class="center wow fadeInDown banner-header">
                <div class="row">
                    <h1>Retreats</h1>
                    <p class="lead">
                        </p>
                </div> <!--/.row-->

            </div> <!--/.banner-header-->

            <div>
            <p>
                   Coming soon. </p>
            </div>

        </div><!--/.container-->

    </section><!--/#workshops-->


{% endblock %}