{% extends 'base.html' %}

{% load staticfiles %}

    {% block content %}

    <section id="stretch-clinics" class="banner-section transparent-bg">
        <div class="container">

            <div class="center wow fadeInDown banner-header">
                <div class="row">
                    <h1>Stretch Clinics</h1>
                    <p class="lead">A time and space to either work on goals or help to fix problems.</p>
                </div>
            </div>

            <div class="center row">
                <div class="col-xs-8 col-xs-offset-2">
                    <img class="main-img" src="{% static 'website/images/straddles_cropped.jpg' %}" />
                </div>
            </div>

            <ul class="classes-filter text-center">
                <li><a class="btn btn-fb-success-minor" href="#what">What?</a></li>
                <li><a class="btn btn-fb-success-minor" href="#why">Why?</a></li>
                <li><a class="btn btn-fb-success-minor" href="#who">Who?</a></li>
                <li><a class="btn btn-fb-success-minor" href="#when">When?</a></li>
                <li><a class="btn btn-fb-success-minor" href="#how">Referral</a></li>
            </ul>

            </div>

        </section>

        <section id="what" class="transparent-bg banner-section">
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>What is a Stretch Clinic?</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        It’s your time and space to work on goals or help to address problems. We can work
                        towards physical goals, check technique and identify specific tasks to improve your
                        overall practice/performance. It can also be your space to look at more internal
                        issues such as stress management/promoting emotional well being. For many
                        people food and their relationship with it, this can be a safe space to look at
                        understanding nutrition or redefining your relationship with food. Your body and mind
                        are spectacular and deserve some special attention.
                    </p>
                    <p>
                        You can come on your own or in small groups if you're all working towards the same
                        goal. Appointments start at 60 minutes.
                    </p>
                </div>
            </div>

                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
       </div>
    </section>

    <section id="why" class="transparent-bg banner-section">
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Why choose a Clinic?</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        You will get individual attention from a specialist instructor who will work with you to
                        give you the improvements you want in a safe and supportive environment. This is a
                        level of attention not possible in a normal class setting.
                    </p>
                </div>
            </div>

                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
       </div>
    </section>

    <section id="who" class="transparent-bg banner-section">
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Who can come to a Clinic?</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        Clinics are suitable for everyone. Some people use it as a way to start their
                        FlexiBeast journey, others as a way to top up what they learn in class. A variety of
                        issues can be assessed and addressed in a clinic.
                    </p>
                    <p>
                        If you have a particular flexibility goal we can assess where you are then work
                        towards your goal safely combining flexibility and strength work to increase range of
                        motion around a joint while keeping it stable. Each body is a unique puzzle to be
                        figured out and explored a clinic is space to do that <i>(Alicia loves a puzzle)</i>.
                    </p>
                    <p>
                        If you are recovering from injury we can work on bringing you back to full strength.
                        This would be done in conjunction with health professionals, your safety is key.
                        </p>
                    <p>
                        Alicia specialises in working with hypermobility and helping people to regain some
                        control and to help prevent injury now and degenerative problems in later life.
                        Hypermobility is a complex condition and Alicia will take a holistic approach in
                        helping you to manage and understand it.
                    </p>
                    <p>
                        Nutrition is often something people struggle to manage, particularly with the pace of
                        modern living. In a clinic you can look at getting the most from food and look at
                        understanding and improving your relationship with food. Unless you are looking to
                        check for an intolerance, Alicia will not be prescriptive in her approach.....this is
                        about a lifetime of wellness.</p>
                    <p>
                        Stress is something we juggle in modern living. It is expressed in a variety of ways
                        either physical or mental/emotional. Using a combination of Yoga and psychological
                        practices we can look at regaining balance and control. Alicia will work with you to
                        find which approach is most effective for you.
                    </p>
                </div>
            </div>

                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
       </div>
    </section>

       <section id="when" class="transparent-bg banner-section">
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>When are Clinics?</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            {% include 'timetable/includes/event_data.html' %}


                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
       </div>
    </section>

    <section id="how" class="transparent-bg banner-section">
         <div class="container">
            <div class="center wow fadeInDown banner-subheader row">
                <div class="banner-wrap row">
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img_left.png' %}"/>
                        </div>
                        <div class="col-xs-8 col-sm-10">
                            <h2>Referral</h2>
                        </div>
                        <div class="col-xs-2 col-sm-1 banner-img-col">
                            <img src="{% static 'website/images/banner_img.png' %}"/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 wow fadeInDown">
                    <p>
                        To come to a clinic, you can self refer by e-mailing <a href="mailto:flexibeast@hotmail.com" target="_blank">flexibeast@hotmail.com</a>  or by using
                        our <a href="{% url 'website:contact' %}">Contact form</a>. We will be able to discuss your needs before clinic appointment so that we
                        can get to work when you arrive.
                    </p>
                    <p>
                        You can be referred by Gwen at <a href="http://www.leithtreatments.com">Leith Treatments</a>.
                        If you are referred by Gwen we will work as a team to help with your needs and working towards recovery.
                    </p>
                </div>
            </div>

                <a class="btn btn-fb-success-minor pull-right" href="#"><i class="fa fa-lg fa-angle-up"></i></a>
       </div>
    </section>




{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'timetable/js/location_modal.js' %}"></script>
{% endblock %}
