{% extends "base.html" %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}


{% block extra_head %}
        <link href="{% static 'studioadmin/css/studioadmin.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-items %}
         <li class="dropdown {% if sidenav_selection == 'page_list' or sidenav_selection == 'add_page' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Website Pages <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'studioadmin:website_pages_list' %}">View and edit pages</a></li>
            <li><a href="{% url 'studioadmin:add_page' %}">Add new page</a></li>
          </ul>
        </li>
        <li class="dropdown {% if sidenav_selection == 'timetable' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Timetables <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'studioadmin:timetable_sessions_list' %}">Regular Classes</a></li>
            <li><a href="{% url 'studioadmin:timetable_clinics_list' %}">Stretch Clinics</a></li>
              <li><a href="{% url 'studioadmin:timetable_workshops_list' %}">Workshops</a></li>
          </ul>
        </li>
        <li {% if sidenav_selection == 'gallery' %}class="active"{% endif %}>
            <a href="{% url 'studioadmin:gallery_categories' %}">Gallery</a>
        </li>
         <li class="dropdown {% if sidenav_selection == 'users' or sidenav_selection == 'block_bookings' or sidenav_selection == 'email_users' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Students <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'studioadmin:users' %}">Registered users</a></li>
          {% if booking_on %}
                <li><a href="{% url 'studioadmin:block_bookings' %}">Block bookings</a></li>
          {% endif %}
                <li><a href="{% url 'studioadmin:choose_email_users' %}">Bulk email to students</a></li>
          </ul>
      </li>

    <li {% if sidenav_selection == 'activitylog' %}class="active"{% endif %}><a href="{% url 'studioadmin:activitylog' %}">
    Activity Log</a></li>


{% endblock %}

{% block admin-nav %}{% endblock admin-nav %}

{% block content %}
    <div class="studioadmin-container">
        <h1 style="color: #000">Admin</h1>
    </div>
            {% block studioadmincontent %}{% endblock %}

{% endblock %}


{% block footer %}
    <div class="studioadmin-footer">
        <div class="container-fluid">
            <div class="row footer_box">
                <div class="footer-fb pull-right">
                    <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a></div>
                </div>

            </div>
        </div>
    </div>
{% endblock footer %}
