{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Timetable</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-success">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ userblocksformset.management_form }}

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="table-center">User <span class="fa fa-sort"></span></th>
                                <th class="table-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Block <span class="fa fa-sort"></span>
                                    <a href="#" data-toggle="tooltip" data-placement="right"
                                       title="Note that only blocks that are open for booking and that have not yet started are shown in the dropdown when adding a new user block">
                                        <span class="fa fa-question-circle"></span>
                                    </a>
                                </th>
                                <th class="table-center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userblockform in userblocksformset %}
                            <tr>
                                {% if userblockform.initial %}
                                    <span class="hide">{{ userblockform.user }}</span>
                                    <span class="hide">{{ userblockform.block }}</span>
                                    <td class="studioadmin-tbl table-center">{{ userblockform.user_instance.username }}</td>
                                    <td class="studioadmin-tbl table-center">{{ userblockform.user_instance.first_name }}</td>
                                    <td class="studioadmin-tbl table-center">{{ userblockform.user_instance.last_name }}</td>
                                    <td class="studioadmin-tbl table-center">{{ userblockform.block_instance.name }}</td>
                                    <td class="table-center studioadmin-tbl">
                                        {{ userblockform.DELETE }}<label for={{ userblockform.DELETE_id }}></label>
                                    </td>
                                {% else %}
                                    <td class="studioadmin-tbl table-center">{{ userblockform.user }}</td>
                                    <td class="studioadmin-tbl"></td>
                                    <td class="studioadmin-tbl"></td>
                                    <td class="studioadmin-tbl table-center">{{ userblockform.block }}</td>
                                    <td class="studioadmin-tbl"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            </tbody>
                        <tfoot>
                        <tr>
                        <td class="studioadmin-tbl" colspan="5"><input class="btn btn-success studioadmin-tbl" name="formset_submitted" type="submit" value="Update" /></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </form>




                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
