{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                {% if block_obj %}
                <h2 class="panel-title">{{ block_obj.name }}</h2>
                {% else %}
                <h2 class="panel-title">Adding new block</h2>
                {% endif %}
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.name|format_field_name }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}

                    <div class="form-group-sm col-sm-11">

                        {% for field in form %}
                            {% if field.label == "Item cost" %}
                                <div class="form-group">
                                    <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">£</span>
                                            {{ field }}
                                        </div>
                                        <div class="studioadmincbox-help">{{ field.help_text }}</div>
                                    </div>
                                </div>
                            {% elif field.label == "Booking open"%}
                            <div class="form-group cbox">
                                <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-1 pull-left">{{ field }}<label for='booking_open_id'></label></div>
                                    <div class="col-sm-12 studioadmincbox-help">  {{ field.help_text }}</div>
                                </div>
                            </div>
                            {% elif field.label == "Select classes" %}
                                <div class="form-group">
                                    <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                    <div class="col-sm-5">
                                    {% for choice in field %}
                                        {{ choice.tag }} {{ choice.choice_label }}</br>
                                    {% endfor %}
                                    </div>
                                <p class="studioadmin-help">{{ field.help_text }}</p></div>
                             {% else %}
                                <div class="form-group">
                                    <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                    <div class="col-sm-9">{{ field }}<p class="studioadmin-help">{{ field.help_text }}</p></div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
 </div>

{% endblock studioadmincontent %}
