{% extends "studioadmin/base.html" %}
{% load static %}

{% block studioadmincontent %}

<div class="container-fluid row">

    <h2>Confirm payment</h2>
    <p>{{ user.first_name }} {{ user.last_name }}
    ({{ user.username }}) has booked block {{ block_obj.name }}</p>

    <p>Use the button below to confirm that you have received payment for this
        block.</p>
    <p>When you click 'confirm',
        all bookings in this block will be set to paid and confirmed, and
        {{ user.first_name }} will be sent an email notifying them of the changes.</p>

    <form action="" method="post">{% csrf_token %}
      <input class="btn btn-success" type="submit" name="confirm" value="Confirm payment received" />
    </form>

</div>

{% endblock studioadmincontent %}
