{% extends "studioadmin/base.html" %}
{% load static %}
{% load bookingtags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-success">
            <div class="panel-heading">
                {% if page %}
                <h2 class="panel-title">Editing Page: {{ page.heading }}</h2>
                {% else %}
                <h2 class="panel-title">Adding new page</h2>
                {% endif %}
            </div>

            <div class="panel-body">
                {% if form.errors %}
                    <div class="form-error">
                        <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                        <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.name|format_field_name }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                {% if page.name == "about" %}
                    <p><strong>This is the "about" page, which will be the home page.  Leave the menu name blank and select "No images" as the layout.
                    This page will be linked from the menu logo and has custom slideshow images.</strong></p>
                {% endif %}

                <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
                    {% csrf_token %}

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Page settings</li>
                    <li class="list-group-item">
                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-sm-2">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                <div class="col-sm-9">{{ field }}{% if field.name == "restricted" %}
                                    <label class="aligned-label" for=id_restricted></label>{% endif %}
                                    <p class="studioadmin-help">{{ field.help_text }}</p></div>
                            </div>
                        {% endfor %}
                    </li>

                    <li class="list-group-item list-group-item-success">Pictures</li>
                    <li class="list-group-item">

                        {{ picture_formset.management_form }}

                        {% for picture in picture_formset %}
                            <div class="form-group">
                                <span class="hide">{{ picture.id }}</span>
                                {% if not picture.instance.id %}
                                    {% if page.pictures.exists %}<span class="divider"></span>{% endif %}
                                    <div class="new-inline-label">
                                        <h5>Add new picture:</h5>
                                    </div>
                                {% endif %}
                                    <div class="form-group">
                                        <div class="{% if picture.instance.id %}col-xs-2{% else %}col-xs-4{% endif %} col-xs-offset-1">{{ picture.image }}</div>

                                        {% if not picture.instance.id %}
                                            <div class="col-xs-5 aligned-label-container"><label class="aligned-label">{{ picture.main.label }}</label></br>
                                                {{ picture.main }}
                                                <label class="aligned-label" for={{ picture.main_id }}></label>
                                                <span class="studioadmin-help">{{ picture.main.help_text }}</span>
                                            </div>
                                        {% endif %}

                                        {% if picture.instance.id %}
                                            <div class="form-group">
                                                <div class="studioadmin-help col-sm-6">{{ picture.instance.image.name }}</div>
                                                <div class="col-xs-6 aligned-label-container"><label class="aligned-label">{{ picture.main.label }}</label>
                                                    {{ picture.main }}
                                                    <label class="aligned-label" for={{ picture.main_id }}></label>
                                                    <span class="studioadmin-help">{{ picture.main.help_text }}</span>
                                                </div>
                                                <div class="col-xs-6 aligned-label-container"><label class="aligned-label">{{ picture.DELETE.label }}</label>
                                                    {{ picture.DELETE }}
                                                    <label class="aligned-label" for={{ picture.DELETE_PIC_id }}></label>
                                                    <span class="studioadmin-help">{{ picture.DELETE.help_text }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="studioadmin-help">{{ picture.image.help_text }}</div>
                                    </div>

                            </div>
                        {% endfor %}
                    </li>
                </ul>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
 </div>

{% endblock studioadmincontent %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'gallery/js/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}