{% extends "studioadmin/base.html" %}
{% load static %}
{% load commontags %}

{% block studioadmincontent %}

{{ form.media }}

<div class="studioadmin-container">

       <div class="panel panel-success">
            <div class="panel-heading">
                {% if page %}
                <h2 class="panel-title">Editing Page: {{ page.heading }}</h2>
                {% else %}
                <h2 class="panel-title">Adding new page</h2>
                {% endif %}
            </div>

            <div class="panel-body">

                {% if page.name == "about" %}
                    <p><strong>This is the "about" page, which will be the home page.  Leave the menu name blank and select "No images" as the layout.
                    This page will be linked from the menu logo and has custom slideshow images.</strong></p>
                {% endif %}

                <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
                    {% csrf_token %}

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Page settings</li>
                    <li class="list-group-item">
                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-sm-2">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                <div class="col-sm-9 ">{% if field.errors %}<span class="form-error">{{ field }}</span>{% else %}{{ field }}{% endif %}
                                    {% if field.name == "restricted" %}
                                        <label class="aligned-label" for=id_restricted></label>
                                    {% elif field.name == "active" %}
                                        <label class="aligned-label" for=id_active></label>
                                    {% endif %}
                                    {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
                                    <p class="studioadmin-help">{{ field.help_text }}</p>

                                    {% if field.name == 'content' %}

                                        <div>
                                            <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#help-images">
                                                <span class="fa help-images fa-plus-square"></span>
                                                Show help for image embedding
                                            </a>
                                        </div>
                                        <span id="help-images" class="collapse">
                                            <p><strong>Adding images within the page content</strong></p>
                                                <ul>
                                                    <li>Move cursor to the point in the text where you want to add an image</li>
                                                    <li>Click on the image icon <span class="fa fa-picture-o"></span> in the editor toolbar and add the url of your picture in the window that opens</li>
                                                    <li>Edit the height and width settings if you want (you can double click on the image later to adjust these)</li>
                                                    <li>To find your image's url do one of the following:
                                                        <ul>
                                                            <li>Use the url of an external image (e.g. a link from facebook</li>
                                                            <li>Upload a picture using the "Add new picture" link below.  The url is displayed next to the picture thumbnail.</li>
                                                            <li>Select "No images" as the layout option for this page (unless you want pictures uploaded to the page to be automatically inserted in addition to any you include in the "content" field.</li>
                                                            <li>Use the url of a picture you've uploaded to a different page using it's "Add new picture" link.</li>
                                                            <li>Use the url of a picture uploaded to the gallery (urls are also with individual images when
                                                                adding/editing <a href="{% url 'gallery:categories' %}">categories</a> in the gallery)</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                        </span>
                                            <div>
                                            <a id="toggler" href="#" data-toggle="collapse" class="active" data-target="#help-video">
                                                <span class="fa help-video fa-plus-square"></span>
                                                Show help for video embedding
                                            </a>
                                        </div>
                                        <span id="help-video" class="collapse">
                                            <p><strong>Adding videos within the page content</strong></p>
                                                <ul>
                                                    <li>Upload video to YouTube, vimeo etc (or find video you want to embed)</li>
                                                    <li>Under the video in YouTube, click Share and select the "Embed" tab.  It will give you some code to copy.</li>
                                                    <li>To embed in the content, there are 2 options:</li>
                                                    <ol>
                                                        <li>Click "Source"  on the text editor, and paste the entire code snippet where you want it (the code will be
                                                        in the tags &ltiframe&gt...&lt/iframe&gt).  Click "Source" again to return to normal view.
                                                        <li>Find the embed url in the code snippet (will look something like https://www.youtube.com/embed/BJo3OjpqJK8).
                                                        Click the iframe icon <span class="fa fa-globe"></span> in the editor toolbar and paste the url in the form that opens.</li>
                                                    </ol>
                                                    <li>Once your video is embedded (by either method), you can double click on it to change size etc.</li>
                                                    <li>Note that you will probably see the video as a "iframe" placeholder in the text editor.  Go back to the main site and
                                                    view the page to see what the embedded video will look like.</li>
                                                </ul>
                                        </span>

                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </li>

                    <li class="list-group-item list-group-item-success">Pictures</li>
                    <li class="list-group-item">

                        {{ picture_formset.management_form }}

                        {% for picture in picture_formset %}
                            <div class="form-group">
                                <span class="hide">{{ picture.id }}</span>
                                {% if not picture.instance.id %}
                                    {% if page.pictures.exists %}<span class="divider"></span>{% endif %}
                                    <div class="new-inline-label">
                                        <h5>Add new picture:</h5>
                                    </div>
                                {% endif %}
                                    <div class="form-group">
                                        <div class="{% if picture.instance.id %}col-xs-2{% else %}col-xs-4{% endif %} col-xs-offset-1">{{ picture.image }}</div>

                                        {% if not picture.instance.id %}
                                            <div class="col-xs-5 aligned-label-container"><label class="aligned-label">{{ picture.main.label }}</label></br>
                                                {{ picture.main }}
                                                <label class="aligned-label" for={{ picture.main_id }}></label>
                                                <span class="studioadmin-help">{{ picture.main.help_text }}</span>
                                            </div>
                                        {% endif %}

                                        {% if picture.instance.id %}
                                            <div class="form-group">
                                                <div class="studioadmin-help col-sm-6">{{ request.META.HTTP_HOST }}{{ picture.instance.image.url }}</div>
                                                <div class="col-xs-6 aligned-label-container"><label class="aligned-label">{{ picture.main.label }}</label>
                                                    {{ picture.main }}
                                                    <label class="aligned-label" for={{ picture.main_id }}></label>
                                                    <span class="studioadmin-help">{{ picture.main.help_text }}</span>
                                                </div>
                                                <div class="col-xs-6 aligned-label-container"><label class="aligned-label">{{ picture.DELETE.label }}</label>
                                                    {{ picture.DELETE }}
                                                    <label class="aligned-label" for={{ picture.DELETE_PIC_id }}></label>
                                                    <span class="studioadmin-help">{{ picture.DELETE.help_text }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="studioadmin-help">{{ picture.image.help_text }}</div>
                                    </div>

                            </div>
                        {% endfor %}
                    </li>
                </ul>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success">Save</button>
                             <a class="btn btn-warning" href="{% url 'studioadmin:website_pages_list' %}" >Back to page list</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock studioadmincontent %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'gallery/js/bootstrap-filestyle.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}