{% extends "studioadmin/base.html" %}
{% load static %}
{% load commontags timetabletags websitetags %}

{% block studioadmincontent %}
    <div class="studioadmin-container">

        <h2>Stretch Clinics <a class="btn btn-success pull-right" href="{% url 'studioadmin:timetable_clinic_add' %}" >Add new stretch clinic</a></h2>
                <div class="panel">
                    <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th>Date </br><span class="studioadmin-help">Click to edit</span></th>
                                <th>Location</th>
                                <th>Max spaces</th>
                                <th>Spaces</th>
                                <th>Show on site</th>
                                <th class="table-center">Delete class</th>
                            </tr>
                            </thead>
                            <tbody>

                            <!-- Modal -->
                            <div class="modal fade" id="StretchClinicModal" tabindex="-1" role="dialog" aria-labelledby="StretchClinicModalLabel"></div>
                            <!-- /.modal -->

                            {{ clinics_formset.management_form }}
                            {% for clinic in clinics_formset %}
                                <span class=hide>{{ clinic.id }}</span>
                                <tr>
                                    <td class="studioadmin-tbl"><a class="clinicedit" href="#" data-form="{% url 'studioadmin:clinicedit' clinic.instance.id %}" title="edit clinic">{{ clinic.instance.date | date:"D d M Y" }}</a></td>
                                    <td class="studioadmin-tbl">{{ clinic.instance.location.short_name }}</td>
                                    <td class="studioadmin-tbl">{{ clinic.instance.max_spaces }}</td>
                                    <td class="studioadmin-tbl">{{ clinic.instance.spaces }}</td>
                                    <td class="studioadmin-tbl table-center">{{ clinic.show_on_site }}<label for={{ clinic.show_on_site_id }}></label></td>
                                    <td class="studioadmin-tbl table-center">{{ clinic.DELETE }}<label for={{ clinic.DELETE_id }}></label>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="studioadmin-tbl">
                                    <input class="btn btn-success" name="formset_submitted" type="submit" value="Save" />
                                </td>
                                <td colspan="4"></td>
                                <td class="studioadmin-tbl table-center">
                                    <input class="btn btn-danger" name="formset_submitted" type="submit" value="Delete selected" />
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    </form>

                    </div>
                </div>

{% endblock studioadmincontent %}

{% block extra_scripts %}
{#http://malsup.github.com/jquery.form.js#}
<script src="{% static 'timetable/js/jquery.form.js' %}"></script>
<script>
    $(".clinicedit").click(function(ev) { // for each edit url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the form url
        $("#StretchClinicModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });

        return false; // prevent the click propagation
    });

</script>
{% endblock %}