{% extends "studioadmin/base.html" %}
{% load static %}
{% load commontags %}

{% block studioadmincontent %}

    <div class="container-fluid row">

        <h2>Registered Users</h2>
        <div class="row">
        <div class="col-xs-12"

        </div>
            <div class="col-sm-12">

                <div class="panel panel-success">

                    <div class="table-responsive">
                                <form method="get">
                                    <button class="btn remove_all_button btn-success"
                                        type="submit" name="remove_all" id="remove_all_button">Remove from all</button>
                                </form>
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th class="table-center">Username <span class="fa fa-sort"></span></th>
                                <th class="table-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Can view restricted<br/>webpages?<br>

                                </th>
                                <th class="table-center">Time since<br/>access granted</th>
                                {% if booking_on %}<th class="table-center">Bookings</th>{% endif %}
                                <th class="table-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="table-center studioadmin-tbl">{{ user.username }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.first_name }}</td>
                                <td class="table-center studioadmin-tbl">{{ user.last_name }}</td>
                                <td class="table-center studioadmin-tbl">
                                    <form class="wl-table-form" method="get">
                                                <button class="btn table-btn perm-btn {% if user|can_view_restricted %}btn-success{% else %}btn-default{% endif %}"
                                                        type="submit" name="change_user" id="can_view_restricted_button" value="{{ user.id }}">{% if user|can_view_restricted %}Yes{% else %}No{% endif %}</button>
                                    </form>
                                </td>
                                <td class="table-center studioadmin-tbl">{{ user|time_since_access }}</td>
                                {% if booking_on %}
                                    <td class="table-center studioadmin-tbl">
                                        <a href="{% url 'studioadmin:user_bookings_list' user.id 'future_open' %}"><span class="fa fa-external-link fa-lg"></span></a>
                                    </td>
                                {% endif %}
                                <td class="table-center studioadmin-tbl"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock studioadmincontent %}
