{% extends "studioadmin/base.html" %}
{% load static %}
{% load commontags websitetags %}

{% block studioadmincontent %}
    <div class="studioadmin-container">

        <h2>Website Pages</h2>
                <div class="panel">
                    <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="success">
                                <th>Page name</br><span class="studioadmin-help">Click to edit</span></th>
                                <th>Page heading</th>
                                <th>Menu name</th>
                                <th>Layout</th>
                                <th>Permission to view</th>
                                <th>Page visible</th>
                                <th>View on site</th>
                                <th class="table-center">Delete page</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{ pages_formset.management_form }}
                            {% for page in pages_formset %}
                                <span class=hide>{{ page.id }}</span>
                                <tr>
                                    <td class="studioadmin-tbl"><a href="{% url 'studioadmin:edit_page' page.instance.name %}">{{ page.instance.name }}</a></td>
                                    <td class="studioadmin-tbl">{{ page.instance.heading }}</td>
                                    <td class="studioadmin-tbl">{{ page.instance.menu_name }}</td>
                                    <td class="studioadmin-tbl">{{ page.instance.layout | format_layout }}</td>
                                    <td class="studioadmin-tbl">{%  if page.instance.restricted %}<span class="not-confirmed">RESTRICTED</span>{% else %}ALL{% endif %}</td>
                                    <td class="studioadmin-tbl">{%  if page.instance.active %}LIVE{% else %}<span class="not-confirmed">HIDDEN</span>{% endif %}</td>
                                    <td class="studioadmin-tbl table-center"><a href="{% url 'website:page' page.instance.name %}"><span class="fa fa-link"></span></a></td>
                                    <td class="studioadmin-tbl table-center">{{ page.DELETE }}<label for={{ page.DELETE_id }}></label>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="studioadmin-tbl" colspan="8">
                                    <a class="btn btn-success" href="{% url 'studioadmin:add_page' %}" >Add new page</a>
                                    <input class="btn btn-danger pull-right" name="formset_submitted" type="submit" value="Delete selected pages" /></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    </form>

                    </div>
                </div>

{% endblock studioadmincontent %}
