/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  #gallery .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .services-wrap {
    padding: 30px;
    min-height: 280px;
  }

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
   .navbar-brand > img.logo-unicorn {
      max-height:50px;
      margin-top:5px;
      margin-bottom:-5px;
    }
  .navbar-brand > img.logo-text {
      max-height:30px;
      margin-top:30px;
      margin-bottom:-5px;
    }

 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .flexibeast-gallery-wrap .flexibeast-gallery-inner h3 a {
    font-size: 20px;
  }

  .flexibeast-wrap .overlay{
    padding: 15px;

  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .services-wrap {
    min-height: 260px;
    padding: 20px;
  }

  /*#gallery .row {*/
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
  /*}*/

  .flexibeast-gallery-wrap .overlay .preview{
    line-height: inherit;
  }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand > img.logo-unicorn {
      max-height:50px;
      margin-top:5px;
      margin-bottom:-5px;
    }
  .navbar-brand > img.logo-text {
      max-height:30px;
      margin-top:30px;
      margin-bottom:-5px;
    }

  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  .services-wrap {
    padding: 10px;
    min-height: 200px;
  }

  .flexibeast-gallery-wrap .overlay{
   padding: 15px;
  }

  .flexibeast-gallery-wrap .flexibeast-gallery-inner h3 a {
    font-size: 20px;
  }

  .blog .blog-item .entry-meta > span a{
    font-size: 10px;
  }
}

/* xs */
@media (max-width: 767px) {
   .navbar-brand > img.logo-unicorn {
      max-height:50px;
      margin-top:5px;
      margin-bottom:-5px;
    }
  .navbar-brand > img.logo-text {
      max-height:30px;
      margin-top:30px;
      margin-bottom:-5px;
    }
  .top-bar {
      display: none;
  }

  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  #main-slider .carousel h1 {
    font-size: 26px;
  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  #main-slider .carousel .item {
    height: 300px;
  }

  #main-slider .carousel .slide-margin {
    margin-top: 20px;
  }

  #main-slider .carousel .carousel-content {
    margin-top: 20px;
  }

  #main-slider .carousel .btn-slide {
    padding: 2px 5px;
    font-size: 12px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .services-wrap {
    padding: 20px;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }

  .gallery-item,
  #flexibeast-gallery .gallery-index-item{
    padding:0 15px;
  }

  .blog .blog-item .entry-meta{
    margin-bottom: 20px;
  }

  .blog .blog-item .blog-content h3 {
    margin-bottom: 20px;
  }

  .post_reply_comments {
    padding-left: 20px;
  }

}

/* XS Portrait */
@media (max-width: 480px) {
  .navbar-brand > img {
    max-height:50px;
    margin-top:-20px;
  }

  #main-slider .carousel .item {
    height: 200px;
  }

  #main-slider .carousel h1 {
      font-size: 20px;
  }
  #main-slider .carousel h2 {
      font-size: 16px;
  }
  #main-slider .carousel .slide-margin {
    margin-top: 10px;
  }

  #main-slider .carousel .carousel-content {
    margin-top: 10px;
  }

  #main-slider .carousel .btn-slide {
    padding: 2px 5px;
    font-size: 12px;
  }

}

