{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}
{% load commontags %}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flexibeast Yoga Classes and Workshops</title>

	<!-- core CSS -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'website/css/font-awesome.min.css' %}"rel="stylesheet">
    <link href="{% static 'website/css/animate.min.css' %}"rel="stylesheet">
    <link href="{% static 'website/css/main.css' %}"rel="stylesheet">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'common/css/print.css' %}"  type="text/css" media="print">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/jquery.datetimepicker.css' %}">

    {% block extra_head %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
</head><!--/head-->

<body {% block bodyclass %}{% endblock %}>

    <header id="header">
        <div class="headerbox">
        <div class="headerbox-inner">
        <div class="top-bar">
                <div class="row">
                    <div class="col-xs-12">
                       <div class="social">
                            <ul class="social-share">
                                {% if request.user.is_authenticated and reviews_pending %}
                                        <li>
                                            <a class="non-icon"  href="{% url 'reviews:staff_reviews' %}">
                                                <span class="label label-testimonial label-as-badge"><span class="fa fa-bell-o"></span>{{ reviews_pending }}</span>
                                            </a>
                                        </li>
                                {% endif %}
                                <li><a href="https://www.facebook.com/alicia.knight.7311?fref=ts"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/FlexiBeast247"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/flexibeast/"><i class="fa fa-instagram"></i></a></li>
                                {% if not request.user.is_authenticated %}
                                    <li><a class="non-icon" href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign in</a></li>
                                {% else %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li class="pull-left"><a href="{% url 'profile:profile' %}">Profile</a></li>
                                            <li class="pull-left"><a href="{% url 'profile:update_profile' %}">Change profile</a></li>
                                            <li class="pull-left"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                                            <li class="pull-left"><a href="{% url 'account_change_password' %}">Change password</a></li>
                                            <li class="pull-left"><a href="{% url 'reviews:add_review' %}">Add a testimonial</a></li>
                                            {%  if request.user.is_staff %}
                                                <li class="pull-left"><a href="{% url 'studioadmin:users' %}">Administration</a></li>
                                            {% endif %}
                                            <li class="pull-left"><a href="{% url 'account_logout' %}">Logout</a></li>
                                        </ul>
                                    </li>
                                {%  endif %}
                            </ul>
                       </div>
                    </div>
            </div>
        </div><!--/.top-bar-->

        <nav class="navbar navbar-default" role="banner">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="{% url 'website:home' %}">
                        <img class='logo-unicorn' src="{% static 'website/images/site_logo.png' %}" alt="logo">
{#                        <img class='logo-text' src="{% static 'website/images/logo_text.png' %}" alt="logo">#}
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                    {% block navbar-items %}
                    {% if not request.user.is_authenticated %}
                        <li class="visible-xs"><a class="non-icon" href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign in</a></li>
                    {% else %}
                        <li class="dropdown visible-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile:profile' %}">Profile</a></li>
                                <li><a href="{% url 'profile:update_profile' %}">Change profile</a></li>
                                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                                <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                                <li><a href="{% url 'reviews:add_review' %}">Add a testimonial</a></li>
                                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                {%  if request.user.is_staff %}
                                    <li><a href="{% url 'studioadmin:users' %}">Administration</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {%  endif %}

                        <li {% if nav_section == 'home' %}class="active"{%  endif %}><a href="{% url 'website:home' %}">Home</a></li>
                        <li {% if nav_section == 'about' %}class="active"{%  endif %}><a href="{% url 'website:about' %}">About</a></li>
                        <li class="dropdown"
                            {% if nav_section == 'clinics' or nav_section == 'classes' or nav_section == 'workshops' or nav_section == 'private' or nav_section == 'timetable' %}
                                active
                            {% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'website:classes' %}">Classes</a></li>
                                <li><a href="{% url 'website:stretch_clinics' %}">Stretch Clinics</a></li>
                                <li><a href="{% url 'website:workshops' %}">Workshops</a></li>
                                <li><a href="{% url 'website:private' %}">Private Instruction</a></li>
                                <li><a href="{% url 'timetable:timetable' %}">Timetable</a></li>
                            </ul>
                        </li>

                        <li {% if nav_section == 'gallery' %}class="active"{% endif %}><a href="{% url 'gallery:gallery' %}">Gallery</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li {% if nav_section == 'reviews' %}class="active"{% endif %}><a href="{% url 'reviews:reviews' %}">Testimonials</a></li>
                                {% for page in website_pages %}
                                    {% if page.menu_name and page.menu_location == 'dropdown' %}
                                        {% if page|viewable:user %}
                                            <li><a href="{% url 'website:page' page.name %}">{{ page.menu_name }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li {% if nav_section == 'contact' %}class="active"{% endif %}><a class='contact' href="{% url 'website:contact' %}"><div>Contact</div></a></li>


                        <span class="visible-xs">
                            <ul class="social-share pull-right">
                            <li><a href="https://www.facebook.com/alicia.knight.7311?fref=ts"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/FlexiBeast247"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/flexibeast/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </span>
                    {% endblock %}
                </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </div>
    </div>
    </header><!--/header-->

    {% block messages %}
    {% if messages %}
          <div class="row">
            <div class="col-sm-12">
                {% for message in messages %}
                <div {% if message.tags and message.tags == 'error' %}
                            class="message alert alert-danger"
                     {% elif message.tags %}
                            class="message alert alert-{{ message.tags }}"
                     {% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
          </div>
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}


        <footer id="footer" class="midnight-blue">
        <div class="footerbox">
        <div class="footerbox-inner">
        <div class="container">
            <div class="row">

                <div class="hidden-xs col-sm-6 footer-credit pull-left">
                    <div>Site developed by <a href="https://twitter.com/rebkwok" target="_blank" style="color: #0B0B61">Becky Smith</a></div>
                    <div>Design by Zanna Oletsik</div>
                </div>

                <div class="hidden-xs col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{% url 'website:home' %}">Home</a></li>
                            <li><a href="{% url 'website:about' %}">About</a></li>
                            <li><a href="{% url 'website:contact' %}">Contact</a></li>
                    </ul>
                </div>

                <div class="visible-xs col-xs-12 footer-xs">
                    <div>
                        <ul>
                            <li><a href="{% url 'website:home' %}">Home</a></li>
                            <li><a href="{% url 'website:about' %}">About</a></li>
                            <li><a href="{% url 'website:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-credit">Site developed by <a href="https://twitter.com/rebkwok" target="_blank"">Becky Smith</a></div>
                    <div class="footer-credit">Design by Zanna Oletsik</div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer><!--/#footer-->
    <script src="{% static 'website/js/jquery.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/bootstrap/moment.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>
{#    <script src="{% static 'website/js/isotopeRowsCentered.js' %}"></script>#}
    <script src="{% static 'website/js/wow.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'website/js/html5shiv.js"></script' %}">
    <script src="{% static 'website/js/respond.min.js"></script' %}">
    <![endif]-->
    <script src="{% static 'common/js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'common/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'common/js/jquery.are-you-sure.js' %}"></script>
    <script src="{% static 'common/js/custom.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
